
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a, img, span, input, button, ion-icon { display: block; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img { height: auto; }
  
  input,  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon {
    pointer-events: none;
    --ionicon-stroke-width: 25px;
  }
  
  html {
    font-family: 'Urbanist', sans-serif;;
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(255, 255, 255) ;
    color: rgb(125, 125, 125);
    font-size: 1.6rem;
    font-weight:500;
    line-height: 1.6;
  }
  
  :focus-visible { outline-offset: 4px; }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track { 
    background-color: rgb(242, 242, 242) }
  
  ::-webkit-scrollbar-thumb { 
    background-color: rgb(204, 204, 204); }
  
  ::-webkit-scrollbar-thumb:hover {
     background-color: rgb(179, 179, 179) }
  .container { padding-inline: 15px; 
}
  
  .section { padding-block: 35px; }
  
  .has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .h1, .h2, .h3, .h2-large {
    color:  rgb(0, 0, 0);
    font-weight: 600;
    line-height: 1.3;
  }
  
  .h1 {
    font-size: 4.8rem;
    line-height: 1.2;
  }
  
  .h2 { font-size: 3.4rem; }
  
  .h2-large { font-size: 4rem; }
  
  .h3 { font-size: 2.4rem;}
  
  .btn {
    font-weight: 600 ;
    max-width: max-content;
    padding: 10px 30px;
    border-radius: 3px;;
    transition: 0.25s ease;;
  }
  .btn-primary:is(:hover, :focus),
  .btn-secondary:is(:hover, :focus) {
    background-color:  rgb(0, 0, 0) ;
    color: rgb(255, 255, 255);
  }
  .btn-primary {
    background-color: rgb(41, 48, 44);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 10px rgba(135, 135, 135, 0.797);
  }
  .btn-secondary {
    background-color: rgb(164, 158, 158);
    color: hsl(0, 0%, 0%);
    box-shadow: 0 4px 10px rgba(135, 135, 135, 0.797);
  }
  
  .has-scrollbar {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-block-end: 15px;
    margin-block-end: -15px;
    scroll-snap-type: inline mandatory;
  }
  
  .scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
  }
  .has-scrollbar::-webkit-scrollbar-track,
  .has-scrollbar::-webkit-scrollbar-thumb { background-color: transparent; }
  
  .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250);
  }
  
  .has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  
  .has-before,
  .has-after {
    position: relative;
    z-index: 1;
  }
  
  .has-before::before,
  .has-after::after {
    content: "";
    position: absolute;
  }
  
  .hover\:shine { overflow: hidden; }
  
  .hover\:shine .has-bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition:  0.5s ease ;
  }
  
  .hover\:shine:is(:hover, :focus) .has-bg-image { transform: scale(1.15); }
  
  .hover\:shine::before {
    top: 0;
    left: -140%;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, transparent 50%, rgb(250, 250, 250) 100%);
    transform: skewX(-25deg);
    z-index: 1;
  }
  
  .hover\:shine:is(:hover, :focus-within)::before { animation: shine 1s ease forwards; }
  
  @keyframes shine {
    0% { transform: skewX(-25deg) translateX(0%); }
    100% { transform: skewX(-25deg) translateX(250%); }
  }
  
  .btn-link {
    color: rgb(0, 0, 0);
    font-weight: 600 ;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: 0.25s ease;
  }
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color:  rgb(204, 204, 204);
  }
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .badge {
    max-width: max-content;
    background-color: rgb(65, 107, 88) ;
    color:  rgb(255, 255, 255);
    font-weight: 700 ;
    padding-inline: 12px;
    border-radius: 3px;
  }
  
  .flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .w-100 { width: 100%; }
  
  [data-section] > * {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease;
  }
  
  [data-section].active > * {
    transform: translateY(0);
    opacity: 1;
  }
  
  
  
  
  
  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/
  
  .header .input-wrapper,
  .header-action-btn:not(:first-child),
  .navbar { display: none; }
  
  .header {
    position: relative;
    padding-block-end: 80px;
  }
  
  .alert {
    background-color: hsl(120, 15%, 52%);
    color:  hsl(0, 0%, 0%);
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700 ;
    letter-spacing: 2px;
    text-align: center;
    padding-block: 15px;
  }
  
  .header-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgb(255, 255, 255);
    padding-block: 26px;
    z-index: 4;
  }
  
  .header-top.active {
    position: fixed;
    top: -80px;
    bottom: auto;
    box-shadow:  0 8px 16px rgb(0, 0, 0);
    transform: translateY(100%);
    transition: 0.5s ease;
  }
  
  .header-top.header-hide {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .nav-open-btn {
    width: 26px;
    display: grid;
    gap: 6px;
    padding-block: 5px;
  }
  
  .nav-open-btn .line {
    height: 2px;
    background-color: rgb(0, 0, 0);
  }
  
  .nav-open-btn .line-1 { width: 15px; }
  
  .nav-open-btn .line-3 { width: 18px; }
  
  .header-action-btn {
    font-size: 28px;
    transition: 0.25s ease;
  }
  
  .header-action-btn:is(:hover, :focus) { color:  rgba(0, 0, 0, 0.708); }
  .sidebar { z-index: 5; }
  
  .mobile-navbar {
    background-color:   rgb(250, 250, 250);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 350px;
    width: 100%;
    padding: 25px 40px;
    z-index: 6;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  }
  
  .mobile-navbar.active {
    visibility: visible;
    transform: translateX(0);
    transition: 0.4s cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  
  .mobile-navbar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 55px;
  }
  
  .nav-close-btn {
    font-size: 28px;
    color: hsl(148, 20%, 38%);
  }
  
  .nav-close-btn ion-icon { --ionicon-stroke-width: 40px; }
  
  .mobile-navbar .navbar-link {
    color:  rgb(0, 0, 0);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600 ;
    letter-spacing: 1px;
    padding-block: 5px;
    transition: 0.25s ease;
  }
  
  .mobile-navbar .navbar-link:is(:hover, :focus) { color: rgb(65, 107, 88) ; }
  
  .overlay {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    transition: 0.25s ease;
  }
  
  .overlay.active {
    background-color: rgba(0, 0, 0, 0.5) ;
    pointer-events: all;
  }
  .hero { padding-block-start: 0; }
  
  .hero-card {
    background-color:  rgb(204, 204, 204);
    padding: 100px 15px;
    background-position: 40%;
  }
  
  .hero-text {
    font-size: 1.8rem;
    margin-block: 16px 30px;
  }
  
  .hero .price {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 600 ;
    margin-block-end: 20px;
  }
  
  .hero .scrollbar-item { min-width: 100%; }
  .collection { padding-block-start: 0; }
  
  .collection-list {
    display: grid;
    gap: 15px;
  }
  
  .collection-card {
    background-color: rgb(204, 204, 204);
    min-height: 400px;
    padding: 40px;
    padding-block-end: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .collection-card .card-title { margin-block-end: 12px; }
  
  .collection-card .card-text {
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-weight: 600 ;
    margin-block-end: auto;
  }
  .shop .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    margin-block-end: 50px;
  }
  
  .shop .btn-link:is(:hover, :focus) { 
    color: rgb(65, 107, 88) }
  
  .shop-card .card-banner {
    position: relative;
    overflow: hidden;
  }
  
  .shop-card .badge {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .shop-card .card-actions {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    display: grid;
    gap: 10px;
    opacity: 0;
    transition: 0.5s ease;
  }
  
  .shop-card .action-btn {
    background-color: rgb(250, 250, 250);
    font-size: 24px;
    padding: 12px;
    border-radius: 50%;
    transition: 0.25s ease;
  }
  
  .shop-card .action-btn:is(:hover, :focus) {
    background-color: rgb(0, 0, 0);
    color:rgb(250, 250, 250) ;
  }
  
  .shop-card:is(:hover, :focus-within) .card-actions {
    opacity: 1;
    transform: translate(-20px, -50%);
  }
  
  .shop-card .card-content {
    padding-block: 20px;
    text-align: center;
  }
  
  .shop-card :is(.price, .card-rating, .rating-wrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .shop-card .del {
    font-size: 1.3rem;
    font-weight: 400 ;
  }
  
  .shop-card .price .span {
    color: rgb(0, 0, 0) ;
    font-weight: 700;
  }
  
  .shop-card .card-title {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
    margin-block-end: 8px;
    transition: 0.25s ease;
  }
  
  .shop-card .card-title:is(:hover, :focus) {
    text-decoration: underline;
    color: rgb(65, 107, 88) ;
  }
  
  .shop-card .rating-wrapper {
    gap: 2px;
    color: rgb(65, 107, 88) ;
    font-size: 15px;
  }
  
  .shop-card .rating-text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
  }
  .banner-list {
    display: grid;
    gap: 30px;
  }
  
  .banner-card {
    min-height: 420px;
    padding: 30px;
  }
  
  .banner-card .card-subtitle {
    color: rgb(0, 0, 0) ;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .banner-card :is(.card-subtitle, .card-title) { 
    text-shadow: 0 0 2px rgb(239, 236, 214); 
}
  
  .banner-card-1 .card-title { margin-block: 10px 30px; }
  
  .banner-card .card-text {
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-block: 10px 25px;
  }
  .feature { text-align: center; }
  
  .feature .section-title { margin-block-end: 40px; }
  
  .feature-card .card-icon {
    width: 100px;
    margin-inline: auto;
  }
  
  .feature-card .card-title {
     margin-block: 35px 15px; }
  
  .feature-card .card-text { 
     font-size: 1.5rem ; }
  .offer-banner {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
    gap: 30px;
    margin-block-end: 60px;
  }
  
  .offer-subtitle {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .offer-subtitle .span {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .offer .badge { font-weight: 500; }
  
  .offer .section-title { margin-block: 20px 8px; }
  
  .offer .section-text { font-size: 1.8rem; }
  
  .offer .countdown {
    color: rgb(69, 101, 88);
    font-size:  4rem;
    line-height: 1;
    display: flex;
    margin-block: 20px 40px;
  }
  
  .offer .time:not(:last-child)::after {
    content: ":";
    color: rgb(125, 125, 125) ;
    font-size: 3rem;
    font-weight: 500;
    margin-inline: 10px;
  }
  
  .offer .time {
    display: flex;
    align-items: center;
  }
  .blog { padding-block-end: calc(35px * 2); }
  
  .blog .section-title {
    text-align: center;
    margin-block-end: 40px;
  }
  
  .blog-card .card-banner img { transition:  0.5s ease; }
  
  .blog-card:is(:hover, :focus-within) .card-banner img { transform: scale(1.2); }
  
  .blog-card .card-title {
    text-align: center;
    margin-block: 30px 20px;
    transition:  0.25s ease;;
  }
  
  .blog-card .card-title:is(:hover, :focus) { color: rgb(69, 101, 88); }
  
  .blog-card .btn-link { justify-content: center; }
  .footer .logo { display: none; }
  
  .footer {
    background-color: rgb(240, 240, 240) ;
    padding-block: 70px;
  }
  
  .footer-top {
    display: grid;
    gap: 40px;
    margin-block-end: 60px;
  }
  
  .footer-list-title {
    color:  rgb(0, 0, 0) ;
    font-size: 2rem;
    font-weight: 600;
    margin-block-end: 10px;
  }
  
  .footer-list-text { font-size:  1.4rem; }
  
  .footer-list-text .link {
    display: inline-block;
    color:  rgb(0, 0, 0) ;
    font-weight: 600;
    text-decoration: underline;
    transition: 0.25s ease ;
  }
  
  .footer-list-text .link:is(:hover, :focus) { color: rgb(36, 76, 56) ; }
  
  .footer-list-text.bold {
    color:  rgb(0, 0, 0) ;
    font-weight: 800;
    margin-block: 15px 2px;
  }
  
  .footer-link {
    font-size: 1.5rem;
    padding-block: 5px;
  }
  
  .footer-link:is(:hover, :focus) { text-decoration: underline; }
  
  .newsletter-title {
    color:  rgb(0, 0, 0) ;
    font-size:  3.4rem;
    font-weight: 600 ;
    line-height: 1.3;
  }
  
  .newsletter-text {
    font-size:  1.5rem;
    line-height: 2;
    margin-block: 10px 35px;
  }
  
  .newsletter-form { position: relative; }
  
  .email-field {
    background-color: rgba(255, 255, 255);
    font-size:  1.5rem;
    padding: 12px 18px;
    padding-inline-end: 145px;
    border: 1px solid  rgba(69, 101, 88, 0.168);
    border-radius: 3px ;
    outline: none;
    transition: 0.25s ease;
  }
  
  .email-field::placeholder { color: rgb(156, 156, 156) }
  
  .email-field:focus { border-color:rgb(0, 0, 0) ;}
  
  .newsletter-form .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .copyright { 
    font-size:  1.5rem; }
  
  .footer-bottom .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-block-end: 20px;
  }
  
  .social-list {
    display: flex;
    gap: 20px;
  }
  
  .social-link {
    color: rgb(0, 0, 0) ;
    font-size: 18px;
    transition: 0.25s ease;
  }
  
  .social-link:is(:hover, :focus) { color: rgb(37, 83, 60) ; }
  
  .footer-bottom > img { max-width: max-content; }
  .back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color:rgb(255, 255, 255) ;
    color: rgb(83, 130, 109) ;
    font-size: 22px;
    padding: 13px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15) ;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .back-top-btn:is(:hover, :focus) {
    background-color: rgb(57, 80, 70) ;
    color: rgb(255, 255, 255) ;
  }
  
  .back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
  }
  @media (min-width: 575px) {
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    :is(.header, .hero) .container { max-width: unset; }
  
    .has-scrollbar { gap: 30px; }
  
    .scrollbar-item { min-width: calc(50% - 15px); }
  
    .alert { padding-block: 8px; }
  
    .header-top .container { padding-inline: 30px; }
  
    .hero-card { padding-inline: 70px; }
  
    .hero-text { max-width: 30ch; }
  
    .banner-card .card-text { max-width: 30ch; }
  
    .offer .countdown .time:not(:last-child)::after { margin-inline: 20px; }
  
  }
  
  
  
  @media (min-width: 768px) {
  
    .container { max-width: 730px; }
  
    .flex-item { max-width: calc(50% - 15px); }
  
    .collection-card { min-height: 450px; }
  
    .banner-list { grid-template-columns: 1fr 0.7fr; }
  
    .banner-card { padding: 50px; }
  
    .offer .section-text { max-width: 45ch; }
  
    .footer-top { grid-template-columns: repeat(3, 1fr); }
  
    .footer-list:last-child { grid-column: 1 / 4; }
  
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .footer-bottom .wrapper { margin-block-end: 0; }
  
  }
  
  
  @media (min-width: 992px) {
  
    .container { max-width: 960px; }
  
    .scrollbar-item { min-width: calc(33.33% - 20px); }
  
    .flex-item { max-width: calc(33.33% - 20px); }
  
    .collection-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  
    .banner-list { grid-template-columns: 1fr 0.5fr; }
  
    .offer .container {
      display: grid;
      grid-template-columns: 1fr 0.7fr;
      align-items: center;
      gap: 30px;
    }
  
    .offer-banner { margin-block-end: 0; }
  
    .footer .logo { display: block; }
  
    .footer { padding-block: 100px 80px; }
  
    .footer-top {
      grid-template-columns: 0.4fr 0.4fr 0.4fr 1fr;
      margin-block-end: 120px;
    }
  
    .footer-list:last-child { grid-column: auto; }
  
    .footer .logo img { width: 190px; }
  
  }
  
  @media (min-width: 1200px) {
    .container { max-width: 1300px; }
  
    .scrollbar-item { min-width: calc(20% - 24px); }
  
    .header .input-wrapper,
    .header-action-btn:not(:first-child),
    .navbar { display: block; }
  
    .nav-open-btn { display: none; }
  
    .header {
      padding-block-end: 60px;
      margin-block-end: 10px;
    }
  
    .header-top {
      position: unset;
      padding-block: 24px 0;
    }
  
    .header-top:is(.active, .header-hide) { all: unset; }
  
    .header-top .container { flex-wrap: wrap; }
  
    .search-field {
      width: 270;
      font-size: 1.5rem;
      border: 2px solid 0 8px 16px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      padding: 10px 20px;
      padding-inline-end: 40px;
      outline: none;
      transition: 0.25s ease;
    }
  
    .search-field::placeholder { color:rgb(156, 156, 156); }
  
    .search-field:focus { border-color:  rgb(0, 0, 0); }
  
    .header .input-wrapper { position: relative; }
  
    .header .search-submit {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      font-size: 22px;
    }
    .header .logo { margin-inline-end: 60px; }
  
    .header-actions {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  
    .header-action-btn { position: relative; }
  
    .header-action-btn .btn-badge {
      position: absolute;
      top: 0;
      right: -10px;
      background-color:  rgb(0, 0, 0);
      color: rgb(250, 250, 250);
      font-size: 1.3rem;
      min-width: 18px;
      height: 18px;
      line-height: 1.4;
      border-radius: 20px;
    }
  
    .header-action-btn:last-child {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .header-action-btn .btn-text {
      font-size: 1.5rem;
      font-weight: 700;
      margin-block-start: 3px;
    }
  
    .navbar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgb(250, 250, 250);
      padding-block: 18px;
      z-index: 4;
    }
  
    .navbar .navbar-list {
      display: flex;
      justify-content: center;
      gap: 45px;
    }
  
    .navbar .navbar-link {
      color:  rgb(0, 0, 0);
      font-size: 1.5rem;
      font-weight: 600;
    }
  
    .navbar .navbar-link::after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgb(0, 0, 0);
      transition:  0 8px 16px rgba(0, 0, 0, 0.15);
      transform: scaleX(0);
      transform-origin: left;
    }
  
    .navbar .navbar-link:is(:hover, :focus)::after {
      transform: scaleX(1);
    }
  
    .header-top.active .navbar {
      position: fixed;
      top: -80px;
      bottom: auto;
      padding-block: 28px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
      transform: translateY(100%);
      transition: 0.5s ease;
    }
  
    .header-top.header-hide .navbar {
      box-shadow: none;
      transform: translateY(0);
    }
  
    .hero-card { padding: 120px 100px; }
  
    .hero-text { max-width: 40ch; }
  
    .banner-card-1 .card-title { max-width: 15ch; }
  
    .feature .section-title { margin-block-end: 60px; }
  
    .feature .flex-list {
      gap: 100px;
      padding-inline: 50px;
    }
  
    .feature .flex-item { max-width: calc(33.33% - 66.66px); }
  
    .offer .container { gap: 120px; }
  
  }